ProyectoIntegrador_4B/Web References/com.somee.losmugiwara.www/Base_Datos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ingresar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IngresarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreapellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechanac" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreapellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="CargarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarUsuarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarAlmuerzo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Almuerzo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarAlmuerzoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarAlmuerzoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarPlatos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Platos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarPlatosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarPlatosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarBebidas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Bebida" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarBebidasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarBebidasResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarPostres">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Postres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarPostresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarPostresResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarReservacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CargarReservacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CargarReservacionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarReservacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NombreApellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Telefono" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Hora" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroPersonas" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarReservacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarReservacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreapellido" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Hora" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="NumeroPersonas" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarReservacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarReservacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarReservacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegistrarPedido">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Categoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Plato" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Precio" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="Cantidad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarPedidoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IngresarSoapIn">
    <wsdl:part name="parameters" element="tns:Ingresar" />
  </wsdl:message>
  <wsdl:message name="IngresarSoapOut">
    <wsdl:part name="parameters" element="tns:IngresarResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarUsuario" />
  </wsdl:message>
  <wsdl:message name="ModificarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="EliminarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CargarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CargarUsuario" />
  </wsdl:message>
  <wsdl:message name="CargarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CargarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="CargarAlmuerzoSoapIn">
    <wsdl:part name="parameters" element="tns:CargarAlmuerzo" />
  </wsdl:message>
  <wsdl:message name="CargarAlmuerzoSoapOut">
    <wsdl:part name="parameters" element="tns:CargarAlmuerzoResponse" />
  </wsdl:message>
  <wsdl:message name="CargarPlatosSoapIn">
    <wsdl:part name="parameters" element="tns:CargarPlatos" />
  </wsdl:message>
  <wsdl:message name="CargarPlatosSoapOut">
    <wsdl:part name="parameters" element="tns:CargarPlatosResponse" />
  </wsdl:message>
  <wsdl:message name="CargarBebidasSoapIn">
    <wsdl:part name="parameters" element="tns:CargarBebidas" />
  </wsdl:message>
  <wsdl:message name="CargarBebidasSoapOut">
    <wsdl:part name="parameters" element="tns:CargarBebidasResponse" />
  </wsdl:message>
  <wsdl:message name="CargarPostresSoapIn">
    <wsdl:part name="parameters" element="tns:CargarPostres" />
  </wsdl:message>
  <wsdl:message name="CargarPostresSoapOut">
    <wsdl:part name="parameters" element="tns:CargarPostresResponse" />
  </wsdl:message>
  <wsdl:message name="CargarReservacionSoapIn">
    <wsdl:part name="parameters" element="tns:CargarReservacion" />
  </wsdl:message>
  <wsdl:message name="CargarReservacionSoapOut">
    <wsdl:part name="parameters" element="tns:CargarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarReservacionSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarReservacion" />
  </wsdl:message>
  <wsdl:message name="RegistrarReservacionSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarReservacionSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarReservacion" />
  </wsdl:message>
  <wsdl:message name="ModificarReservacionSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarReservacionSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarReservacion" />
  </wsdl:message>
  <wsdl:message name="EliminarReservacionSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarPedidoSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarPedido" />
  </wsdl:message>
  <wsdl:message name="RegistrarPedidoSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarPedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="Base_DatosSoap">
    <wsdl:operation name="Ingresar">
      <wsdl:input message="tns:IngresarSoapIn" />
      <wsdl:output message="tns:IngresarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input message="tns:RegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:RegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <wsdl:input message="tns:ModificarUsuarioSoapIn" />
      <wsdl:output message="tns:ModificarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input message="tns:EliminarUsuarioSoapIn" />
      <wsdl:output message="tns:EliminarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarUsuario">
      <wsdl:input message="tns:CargarUsuarioSoapIn" />
      <wsdl:output message="tns:CargarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarAlmuerzo">
      <wsdl:input message="tns:CargarAlmuerzoSoapIn" />
      <wsdl:output message="tns:CargarAlmuerzoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarPlatos">
      <wsdl:input message="tns:CargarPlatosSoapIn" />
      <wsdl:output message="tns:CargarPlatosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarBebidas">
      <wsdl:input message="tns:CargarBebidasSoapIn" />
      <wsdl:output message="tns:CargarBebidasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarPostres">
      <wsdl:input message="tns:CargarPostresSoapIn" />
      <wsdl:output message="tns:CargarPostresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CargarReservacion">
      <wsdl:input message="tns:CargarReservacionSoapIn" />
      <wsdl:output message="tns:CargarReservacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarReservacion">
      <wsdl:input message="tns:RegistrarReservacionSoapIn" />
      <wsdl:output message="tns:RegistrarReservacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarReservacion">
      <wsdl:input message="tns:ModificarReservacionSoapIn" />
      <wsdl:output message="tns:ModificarReservacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarReservacion">
      <wsdl:input message="tns:EliminarReservacionSoapIn" />
      <wsdl:output message="tns:EliminarReservacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarPedido">
      <wsdl:input message="tns:RegistrarPedidoSoapIn" />
      <wsdl:output message="tns:RegistrarPedidoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Base_DatosSoap" type="tns:Base_DatosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingresar">
      <soap:operation soapAction="http://tempuri.org/Ingresar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap:operation soapAction="http://tempuri.org/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarUsuario">
      <soap:operation soapAction="http://tempuri.org/CargarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarAlmuerzo">
      <soap:operation soapAction="http://tempuri.org/CargarAlmuerzo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarPlatos">
      <soap:operation soapAction="http://tempuri.org/CargarPlatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarBebidas">
      <soap:operation soapAction="http://tempuri.org/CargarBebidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarPostres">
      <soap:operation soapAction="http://tempuri.org/CargarPostres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarReservacion">
      <soap:operation soapAction="http://tempuri.org/CargarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarReservacion">
      <soap:operation soapAction="http://tempuri.org/RegistrarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarReservacion">
      <soap:operation soapAction="http://tempuri.org/ModificarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarReservacion">
      <soap:operation soapAction="http://tempuri.org/EliminarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPedido">
      <soap:operation soapAction="http://tempuri.org/RegistrarPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Base_DatosSoap12" type="tns:Base_DatosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingresar">
      <soap12:operation soapAction="http://tempuri.org/Ingresar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarUsuario">
      <soap12:operation soapAction="http://tempuri.org/ModificarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap12:operation soapAction="http://tempuri.org/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarUsuario">
      <soap12:operation soapAction="http://tempuri.org/CargarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarAlmuerzo">
      <soap12:operation soapAction="http://tempuri.org/CargarAlmuerzo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarPlatos">
      <soap12:operation soapAction="http://tempuri.org/CargarPlatos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarBebidas">
      <soap12:operation soapAction="http://tempuri.org/CargarBebidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarPostres">
      <soap12:operation soapAction="http://tempuri.org/CargarPostres" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CargarReservacion">
      <soap12:operation soapAction="http://tempuri.org/CargarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarReservacion">
      <soap12:operation soapAction="http://tempuri.org/RegistrarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarReservacion">
      <soap12:operation soapAction="http://tempuri.org/ModificarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarReservacion">
      <soap12:operation soapAction="http://tempuri.org/EliminarReservacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPedido">
      <soap12:operation soapAction="http://tempuri.org/RegistrarPedido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Base_Datos">
    <wsdl:port name="Base_DatosSoap" binding="tns:Base_DatosSoap">
      <soap:address location="http://www.losmugiwara.somee.com/Base_Datos.asmx" />
    </wsdl:port>
    <wsdl:port name="Base_DatosSoap12" binding="tns:Base_DatosSoap12">
      <soap12:address location="http://www.losmugiwara.somee.com/Base_Datos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>