ProyectoIntegrador_4B/Web References/com.somee.losmugiwara.www/Base_Datos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Ingresar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contra" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IngresarResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombreapellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contraseña" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="telefono" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fechanacimiento" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarUsuarioResponse">
        <s:complexType />
      </s:element>
      <s:element name="IngresarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IngresarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarProductoResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarPrecio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="producto" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarPrecioResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IngresarSoapIn">
    <wsdl:part name="parameters" element="tns:Ingresar" />
  </wsdl:message>
  <wsdl:message name="IngresarSoapOut">
    <wsdl:part name="parameters" element="tns:IngresarResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarUsuario" />
  </wsdl:message>
  <wsdl:message name="RegistrarUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IngresarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:IngresarProducto" />
  </wsdl:message>
  <wsdl:message name="IngresarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:IngresarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="EliminarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarPrecioSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarPrecio" />
  </wsdl:message>
  <wsdl:message name="ModificarPrecioSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarPrecioResponse" />
  </wsdl:message>
  <wsdl:portType name="Base_DatosSoap">
    <wsdl:operation name="Ingresar">
      <wsdl:input message="tns:IngresarSoapIn" />
      <wsdl:output message="tns:IngresarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <wsdl:input message="tns:RegistrarUsuarioSoapIn" />
      <wsdl:output message="tns:RegistrarUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <wsdl:input message="tns:IngresarProductoSoapIn" />
      <wsdl:output message="tns:IngresarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input message="tns:EliminarProductoSoapIn" />
      <wsdl:output message="tns:EliminarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarPrecio">
      <wsdl:input message="tns:ModificarPrecioSoapIn" />
      <wsdl:output message="tns:ModificarPrecioSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Base_DatosSoap" type="tns:Base_DatosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingresar">
      <soap:operation soapAction="http://tempuri.org/Ingresar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <soap:operation soapAction="http://tempuri.org/IngresarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPrecio">
      <soap:operation soapAction="http://tempuri.org/ModificarPrecio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Base_DatosSoap12" type="tns:Base_DatosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ingresar">
      <soap12:operation soapAction="http://tempuri.org/Ingresar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarUsuario">
      <soap12:operation soapAction="http://tempuri.org/RegistrarUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <soap12:operation soapAction="http://tempuri.org/IngresarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap12:operation soapAction="http://tempuri.org/EliminarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarPrecio">
      <soap12:operation soapAction="http://tempuri.org/ModificarPrecio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Base_Datos">
    <wsdl:port name="Base_DatosSoap" binding="tns:Base_DatosSoap">
      <soap:address location="http://www.losmugiwara.somee.com/Base_Datos.asmx" />
    </wsdl:port>
    <wsdl:port name="Base_DatosSoap12" binding="tns:Base_DatosSoap12">
      <soap12:address location="http://www.losmugiwara.somee.com/Base_Datos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>